@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&family=Khula:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';

}
body {
    zoom: 100%;
}
:root{
    --bg-color:white;
    --text-color:#333;
    --main-color:  #8A9A5B;
    --shadow-color:rgba(0, 0, 0, .2);
}
.dark-mode{
    --bg-color:#03010d;
    --text-color:#fdfdfd;
    --main-color: #8A9A5B;
    --shadow-color:rgba(0, 0, 0, .7);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem  7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}
.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}
.logo{
    font-size: 2.5rem;
    color: var(--main-color);
     font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar  a{
    position: relative;
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 2rem;
}
.header.sticky .navbar a{
    color:  var(--text-color);
}
.header.sticky .navbar a.active{
    color: var(--main-color);
}
.navbar a.active::before{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: .2rem;
    background: #fff;
}
.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}
#darkMode-icon{
    font-size: 2.4rem;
    color: white;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.header.sticky #darkMode-icon{
    color: var(--text-color);
    opacity: .9;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home{
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    align-items: center;
    /* padding: 60px 7% 0; */

}
.home .home-content{
    max-width: 44rem;
    /* margin-top:3rem ; */
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700px;
    margin-bottom: .3rem;
}
.home-content p{
    font-size: 1.6rem;

}
.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    text-decoration: none;
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.home-content .social-media a:hover {
    background: var(--main-color);
    color: #fff;
}
.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border: .2rem solid transparent;
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
   background: transparent;
   color: var(--main-color); 
   border-color: var(--main-color);
}
.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
     overflow: hidden;
     pointer-events: none;
}
.profession-container .profession-box{
    position: absolute;
    top:0;
    right: 0;  
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}
@keyframes professionRotate{
    0%,20%{
        transform: rotate(0deg);
    }
    25%,45%{
        transform: rotate(-90deg);
    }
    50%,70%{
        transform: rotate(-180deg);
    }
    75%,95%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.profession-box .profession{
    position: absolute;
    left:0;
    transform:rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    background: var(--bg-color);
    padding: 13px 0;
}
.profession-box .profession:nth-child(1) i{
    margin-right: 15px;
}
.profession-box .profession:nth-child(2) i,
.profession-box .profession:nth-child(4) i{
   margin-right: 20px;
}


.profession i{
    font-size: 3.8rem;
} 
.profession h3{
    font-size: 3.2rem ;
    line-height: 1;
    font-weight:  600;
}
.profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;

}

.profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
    background-image: url('port-pic-1\ \(1\).png');
    /* opacity: 0.7; Adjust the opacity as needed */
  z-index: 1;

}
/* .home-img{
    display: flex;
} */
.home-img img{
    position: absolute;
    padding: 0;
    bottom: 0;
    top: 8%;
    left: 60%;
    width: 45%;
    height: 95%;
    /* width: 100%; */
    pointer-events: none;
}
  span{
    color: var(--main-color);
  }

  .about{
    display:flex;
    justify-content: center; 
    align-items: center;
    gap: 4rem;
  }

  .about-img img {
    width: 40vw;
  }
.heading{
    font-size: 4.5rem;
    text-align: center;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2rem;
}
.about-content p{
     font-size: 1.6rem;
     margin: 2rem 0 3rem;
}
.skills{
    background: var(--bg-color);
}

.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap:50px ;
}
.skill-bar{
    margin-bottom: 2.3rem;
}
.skill-main h3{
    margin-bottom: 2rem;
    font-size: 28px;
    text-align: center;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background: black;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;

}
.skill-bar .bar span{
       width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: lightblue;
    border-radius: 25px;
    box-shadow:#754ef9;
}
.skill-bar .bar .html{
    width: 80%;
    animation: html 1s;
} 
.skill-bar .bar .css{
    width: 80%;
    animation: css 1.5s;

} 
.skill-bar .bar .js{
    width: 75%;
    animation: js 2s;

} 
.skill-bar .bar .react{
    width: 70%;
    animation: react 2.5s;

} 
.skill-bar .bar .node{
    width: 65%;
    animation: node 3s;

} 
.skill-bar .bar .exp{
    width: 65%;
    animation: exp 3.5s;

} 
.skill-bar .bar .sql{
    width: 80%;
    animation: sql 4s;

} 
.skill-bar .bar .mongo{
    width: 65%;
    animation: mongo 4.5s;

}   
.skill-bar .bar .aws{
    width: 60%;
    animation: aws 5s;

} 


.professional{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box{
    margin:10px 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 15rem;
    position: relative;
    gap: 3%;

}
.box .text{
    text-align: center;
    color: var(--main-color);
    font-size: 1rem;
   
}
.box .text h3{
    padding: 0;
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translate(-50%,-50%);

}
.box .text h2{
    display: block;
    font-weight: 600;
}
.cir{
    width: 100%;
    height: 120px;
    display: flex;
    flex: 1 1 15rem;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}
.cir .points{
    width: 2px;
    height: 10px;
    background-color: var(--shadow-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--j)*var(--rot))) translateY(-45px);

}
.points.marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--j)*0.05s);
}
.portfolio{
    padding-bottom: 10rem;
}
.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
   transform: scale(1.1); 
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
opacity: 1;
}
.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 5rem;
    height: 5rem;
    background: #ffff;
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: #333;
}
.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
 .contact form .input-box{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
 }
 .contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
 }

 .contact form .input-box input{
    width: 49%;
 }
 
 .contact form textarea{
    resize:none;
 }
 .contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
 }
 .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
 }
 .footer-text p{
     font-size: 1.6rem;
     color: whitesmoke ;
 }
 .footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #ffff;
    border-radius: .8rem;
    outline: .2rem solid transparent;
    transition: .5s ease;
 }
 .footer-iconTop a:hover{
    outline-color: #ffff ;
 }
 .footer-iconTop a i{
    font-size: 2.4rem;
    color: #333;
 }

.contain{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.contain .progress{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    background:#4444 linear-gradient(to right, transparent 50%, var(--clr) 0) ;
}
.contain .progress h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;
}

.contain .progress h3 span{
    font-size: 0.65em;
    font-weight: 400;
}
.contain .progress h4{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
}
.skill{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.contain .progress::before{
    content:'';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
.contain .progress::after{
    content:'';
    position: absolute;
    inset: 10px;
    background: #222;
    border-radius: 50%;
}
.contain .progress::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50 )* 0.01turn)));
}
.contain .progress .less::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 0 * 0.01turn))));
}
@media(max-width:1500px){
    .home-img img{
        top: 17%;
        left: 60%;
    width: 550px;
    height:600px;
    }
}
 @media(max-width:1275px){
    html{
        font-size: 55%;
    }
    .home .profession-container{
        height: 85.8rem;
    }
    .home .profession-container .profession-box{
        right: -12rem;
        height: 85.8rem;
    }
    .home .profession-container .overlay{
        right: -9rem;
    }
    .home-img img{
        top: 24%;
        left: 53%;
    width: 500px;
    height:550px;
    }
 }
 @media(max-width: 1111px)
 {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .home .profession-container .profession-box{
        right: -22rem;
    }
    .home .profession-container .overlay{
        right: -15rem;
    }
 }
 @media(max-width:991px)/*error*/
 {
    .navbar a:nth-child(1)
    /* .navbar a:nth-child(2) */
    {
        color: var(--main-color);;
    }
    .navbar a.active::before{
        background:var(--main-color) ;
        opacity: .7;
    }

    .home .home-content{
        max-width: 50rem;
    }
    .home .profession-container .profession-box{
        right: -45rem;
    }
    .home .profession-container .overlay
    {
        right: -39.5rem;
    }
    .home-img img{
        display: none;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
 }


 @media(max-width:810px)
 {
    #menu-icon{
        display: block;
    }
    #darkMode-icon{
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text-color);
    }
    .navbar a.active{
        color: var(--main-color);
    }
    .navbar a::before{
        display: none;
    }
    .home{
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content .social-media a{
        margin: 2.5rem .75rem 3rem;
    }
    .home .profession-container{
        left: 0;
        width: 100%;
        height: 100%;
    }
    .home .profession-container .profession-box{
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }
    .home .profession-box .profession{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }
    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-120px, -210px);
    }
    .home .profession:nth-child(1) i{
        margin-right: 0;
    }
    .home .profession:nth-child(2){
        transform: rotate(0deg) translate(0, -335px);
    }
    .home .profession:nth-child(3){
        transform: rotate(90deg) translate(-115px, -450px);
    }
    .home .profession:nth-child(4){
        transform: rotate(180deg) translate(-220px, -335px);
    }
    .home .profession-box .circle{
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }
    .home .profession-container .overlay{
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-content h2{
        text-align: center;
    }
    .about-img{
        width: 70vw;
        margin-top: -2rem;
    }
    /* services */
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
 }

 @media(max-width: 617px)
 {
    .portfolio .portfolio-container{
        grid-template-columns: 1fr;
    }
 }

 @media(max-width: 450px)
 {
    html{
        font-size: 50%;
    }
    #darkMode-icon
    {
        right: 6rem;
    }
    .home{
        padding: 0 3% 30rem;
    }
    .home .profession:nth-child(1){
        transform: rotate(-90deg) translate(-110px, -220px);
    }
    .home .profession:nth-child(2){
        transform: rotate(0deg) translate(5px, -335px);
    }
    .home .profession:nth-child(3){
        transform: rotate(90deg) translate(-105px, -440px);
    }
    .home .profession:nth-child(4){
        transform: rotate(180deg) translate(-210px, -335px);
    }
    .contact form .input-box input{
        width: 100%;
    } 
 }
 @media(max-width: 385px)
 {
    .about-img img{
        width: 90vw;
    } 
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
    .profession-container{
        margin-top: 10px;
    }
    .home-content{
        margin-top: -10px;
    }
 }


@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width:80%
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width:80%
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width:75%
    }
}
@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width:70%
    }
}
@keyframes node{
    0%{
        width: 0%;
    }
    100%{
        width:65%
    }
}
@keyframes exp{
    0%{
        width: 0%;
    }
    100%{
        width:65%
    }
}
@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width:80%
    }
}
@keyframes mongo{
    0%{
        width: 0%;
    }
    100%{
        width:65%
    }
}
@keyframes aws{
    0%{
        width: 0%;
    }
    100%{
        width:50%
    }
}
@keyframes glow{
    0%{
        background: var(--main-color);
        box-shadow: none;
    }
    100%{
        background: var(--main-color);
        box-shadow: var(--text-color);
    }

}